@{
    Layout = null;
}

<html>
<head>

<title>Reservation</title>
 
</head>

<body>

     
   
    <center><h3>@Html.ActionLink("Register","Create","Create")</h3></center>
    <center><h3>@Html.ActionLink("Login", "Login", "Create")</h3></center>
    <center><h3>@Html.ActionLink("ADMIN","adminlog","Create")</h3></center>
    
    
     
     
</body>
</html>    

